.MainWrapper {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    display: flex;
  }
}

.Poster {
  width: 300px;
  border-radius: 4px;
  filter: saturate(150%);
  box-shadow: 0 0 20px rgba(107, 46, 6, 0.7);

  @media (min-width: 768px) {
    width: 400px;
  }
}

.InfoWrapper {
  @media (min-width: 768px) {
    margin-left: 50px;
  }
}

.TitleWrapper {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.Title {
  margin-bottom: 10px;

  @media (min-width: 768px) {
    font-size: 25px;
    margin-bottom: 0;
  }

  @media (min-width: 1440px) {
    font-size: 50px;
    margin-bottom: 0;
  }
}

.ReleaseDate {
  font-weight: 700;
  font-size: 15px;
  color: wheat;

  @media (min-width: 1440px) {
    font-size: 18px;
  }
}

.GenresList {
  margin-bottom: 50px;
  display: flex;
  color: #50c878;
  text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black;
}

.GenresItem {
  font-weight: 700;
  font-size: 15px;
  margin-right: 15px;

  :last-child {
    margin-right: 0;
  }

  @media (min-width: 1440px) {
    font-size: 18px;
  }
}

.Description {
  line-height: 2;
  font-size: 15px;
  margin-bottom: 50px;
  color: gainsboro;

  @media (min-width: 1440px) {
    font-size: 18px;
  }
}

.VoteWrapper {
  font-weight: 500;
  font-size: 15px;
  color: black;
}

.VoteAverage {
  padding: 10px 0;
}

.VoteCount {
  padding: 10px 0;
}

.Value {
  font-size: 14px;
  margin-left: 5px;
}
