.list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.title {
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 15px;
  font-weight: 700;
}

.text {
  line-height: 2;
  color: gainsboro;
}

.Author {
  color: wheat;
  text-shadow: 1px 0 1px black, 0 1px 1px black, -1px 0 1px black;
}

.Content {
  color: gainsboro;
}
