// Стили главной навигации
.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.LogoWrapper {
  display: flex;
  align-items: center;
}

.CustomIcon {
  width: 40px;
  height: 40px;
  color: #50c878;
}

.Title {
  font-size: 25px;
  color: #50c878;

  @media (min-width: 768px) {
    font-size: 35px;
  }

  @media (min-width: 1440px) {
    font-size: 50px;
  }
}

.NavigationList {
  display: flex;
  text-shadow: 1px 0 1px #50c878, 0 1px 1px #50c878, -1px 0 1px #50c878;
}

.Item {
  margin-right: 25px;
  &:last-child {
    margin-right: 0;
  }
}

.CustomLink {
  font-size: 15px;
  font-weight: 700;

  transition: all 0.2s;

  &:hover {
    color: blue;
  }

  @media (min-width: 768px) {
    font-size: 20px;
  }
}
